:root{
  --background:hsl(0, 0%, 95%);
  --moss:hsl(179, 100%, 13%);
  --teal:hsl(184, 100%, 22%);
  --para-color:hsl(0, 0%, 100%, 0.75);
  --orange:hsl(31, 77%, 52%);
}


body{
  background-color: var(--background);
  color:var(--para-color);
  padding: 1rem;
}
/* main{

} */
h2{
  color:var(--background);
}
.sedans{
background-color: var(--orange);
}
.suvs{
background-color: var(--teal);
}
.luxury{
background-color: var(--moss);
}

footer{
  color:var(--moss);
  margin: 5rem;
}
